{%extends 'layout/main_layout.html'%}

{% block script %}
<script type="text/javascript">
	function checkUpdate() {
		if(document.write.bo_title.value == ""){
			alert("제목을 입력하십시오!");
		}else if(document.write.bo_content.value == ""){
			alert("내용을 입력하십시오!")
		}else{
			document.write.submit();
		}
	}
</script>
{% endblock %}
{% block content %}
<div style="width: 90%; margin: 0px auto;">
    <form action="/community/checkUpdate/" method="post" name = "write">
        {% csrf_token %}
        <input type="hidden" name = "bo_no" value="{{ bo_no }}">
        <table class = "table" style="margin: 0px auto;">
            {{ forms.as_table }}
        </table>
        <div class = "button" style="text-align: right; margin-top: 10px; width: inherit;">
            <input type="button" value="수정" onclick="javascript:checkUpdate()">
        </div>
    </form>    
</div>
{% endblock %}