{%extends 'layout/main_layout.html'%}
{% block script %}
<script>
	function deleteAction() {
		var check = confirm("삭제 하시겠습니까?");
		
		if(!check){
			return;
		}
		
		location.href = '/review/delete/?m_no={{ content.m_no }}';
	}
</script>
{% endblock %}
{% block content %}
<div style="width: 90%; margin: 0px auto;">
	<table class="table" style="width: inherit; margin: 0px auto;">
		<tr>
			<th>제목</th>
			<td colspan="3">{{ content.m_title }}</td>
		</tr>
		<tr>
			<th>작성자</th>
			<td>{{ content.u_no.u_name }}</td>
			<th>작성일</th>
			<td>{{ content.m_logtime |date:'Y-m-d'}}</td>
		</tr>
		<tr>
			<td colspan="4">
                {% autoescape off %}
                    {{ content.m_content }}
                {% endautoescape %}	
			</td>
		</tr>
	</table>
	<div class="button"  style="width: inherit; margin: 0px auto; display:  flex; justify-content: right;">
		{% if request.session.login == content.u_no.u_no %}
            <input type="button" value="수정" onclick="location.href='/review/update?m_no={{content.m_no}}'">
            <input type="button" value="삭제" onclick="deleteAction()">
        {% endif %}
		<input type="button" value="목록" onclick="location.href='/review/'">
	</div>  

</div>
{% endblock %}