{% extends 'layout/main_layout.html' %}



{% block content %}
{%load user_template%}

<a href="/menubar/branditem/?no={{b.b_no}}"><h3>{{b.b_korname}}</h3></a>
<div>
    <img src="{{b.b_img.url}}" class="img-thumbnail" alt="...">
</div>
 가입일자 : {{b.b_joindate|date:'Y.m.d.'}} | 조회수 : {{b.b_hit}} | {{b.b_engname}}<br>
 {% autoescape off %}
 {{b.b_info}}<br><br>
 {% endautoescape %}

    <table>
        <tr>
            {%if items_size|size != 0 %}
            {% for i in items_size|size %}
                <td width="160px">
                    <div>
                        <a href="/menubar/itemdetail/?no={{items_size|allit:i}}">
                            <img src="{{ il|indexOfimage:i}}" alt="" width="120px" height="150px"><br>
                        </a>
                            {% autoescape off %}
                                {{items_size|abc:i}}
                            {% endautoescape %}
                    </div>
                </td>
            {% endfor %}
            {%endif%}
            {% if items_ssize|size != 0 %}
            {% for i in items_ssize|size %}
                <td width="160px">
                    <div>
                        <a href="/menubar/itemdetail/?no={{items_ssize|allit:i}}">
                            <img src="{{ sil|indexOfimage:i}}" alt="" width="120px" height="150px"><br>
                        </a>
                            {% autoescape off %}
                                {{items_ssize|abc:i}}
                            {% endautoescape %}
                    </div>
                </td>
            {% endfor %}
            {%endif%}
        </tr>
    </table>
            
{% endblock %}